@import url("https://fonts.googleapis.com/css2?family=DM+Sans&family=Jost&display=swap");

.navbar-brand {
  display: flex;
  align-items: center;
}

.nav-link {
  padding: 0rem 1rem !important;
}

.form-control {
  line-height: 1.5;
  color: #fff !important;
  background-color: orange !important;
  background-clip: padding-box;
  border: 1px solid #ffffff !important;
}

.form-control:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgb(255, 165, 0) !important;
}

.selected_value {
  color: #2f2e41;
  font-weight: 700;
}

.selected_value span {
  color: #2f2e41;
  font-weight: 500;
}
